@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #171717;
}
@font-face {
  font-family: 'AirForce-Regular';
  src: local('AirForce-Regular'), url(./font/AirForce-Regular.ttf) format('ttf');
}